<% provide(:title , @group) %>
<div class = "row">
	<aside class = "col-md-4">
		<section class = "group_info">
			<h1>
			<%= @group.name %>
			<%= @group.id %>
			</h1>
			 <%= form_for(:post,url: posts_path) do |f| %>
     		 	<%#= render 'shared/error_messages' %>
      			<%= f.hidden_field :id, :value => @group.id%>
      			<%= f.label :name %>
      			<%= f.text_area :name %>
      			<%= f.submit "Submit post", class: "btn btn-primary" %>
    		<% end %>
		</section>
	</aside>
</div>
