<% provide(:title, 'Discuss') %>
<h1>Requests</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% results = Request.joins("INNER JOIN memberships ON requests.group_id = memberships.group_id").select(:id,:group_id,:sender_id).where("memberships.is_admin=true AND memberships.user_id = #{current_user.id} AND requests.is_granted IS NULL") %>
    <ul>
        <% results.each do |result| %>
        <li>
            <% group_name =  Group.select(:name).where(id: result['group_id'].to_i)%>
            <% user_name =  User.select(:name).where(id: result['user_id'].to_i)%>
            <%= group_name[0]['name']%>
            <%= form_for(:request,url: grant_path) do |f| %>
                <%= f.hidden_field :id, :value => result['id'].to_i%>
                <%= f.hidden_field :group_id, :value => result['group_id'].to_i%>
                <%= f.hidden_field :sender_id, :value => result['sender_id'].to_i%>
                <%= f.submit "Yes", class: "btn btn-primary" %>
                <%= f.submit "No", class: "btn btn-primary" %>
            <% end %>
        </li>
        <% end %>
    </ul>
  </div>
</div>