<% provide(:title, 'Discuss') %>
<h1>Invitations</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% results = Invitation.joins(:group).select(:name,:id,:group_id).where(is_accepted: false,receiver_id: current_user.id) %>
    <ul>
    	<% results.each do |result|%>
    	<li>
    		<%= Group.select(:name).where(group_id: result['group_id'].to_i) %>
    	    <%= form_for(:invite,url: respond_path) do |f| %>
                <%= f.hidden_field :id, :value => result['id'].to_i%>
                <%= f.hidden_field :group_id, :value => result['group_id'].to_i%>
                <%= f.submit "Yes", class: "btn btn-primary" %>
                <%= f.submit "No", class: "btn btn-primary" %>
            <% end %>
        </li>
    	<% end %>
    </ul>
  </div>
</div>