<% provide(:title, 'Discuss') %>
<h1>Invite someone!!!</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:invite,url: search_path) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.submit "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>



<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <% if !(flash[:invite].nil?) %>
	<ul>
		<% flash[:invite].each do |id|%>
			<li>
				<% user = User.find_by(id: id['id'].to_i) %>
        <%= user.name %>
        <%= form_for(:invite,url: invitations_path) do |f| %>
          <%= f.hidden_field :id, :value => user.id%>
          <%= f.submit "Invite", class: "btn btn-primary" %>
			   <% end %>
      </li>
      <%end%>    
	</ul>
  <%end%>
  </div>
</div>