<% @post_object = Post.find(params[:id]) %>
<h1>
	Comments on 
</h1>
<p> <%= @post_object.content %>

<div class = "comments">
	<%= form_for(:comment,url: comments_path) do |f| %>
     	<%#= render 'shared/error_messages' %>
      	<%= f.hidden_field :p_id, :value => @post_object.id%>
      	<%= f.label :comment %>
      	<%= f.text_field :content%>
      	<%= f.submit "Submit comment", class: "btn btn-primary" %>
    <% end %>
</div>

<div class = "comments">
	<% joined_table = Comment.joins(:post).joins("INNER JOIN memberships ON Posts.membership_id = Memberships.id").order(created_at: :desc)%>
	<%  record = Post.joins(:membership).select(:group_id).where(id: params[:id].to_i).first %>
	<%  grp_id = record['group_id'] %>
	<% comments = joined_table.select(:id,:content,:created_at,:user_id).where("Memberships.group_id = #{grp_id} AND Posts.id = #{@post_object.id}") %>
	<ul>
		<% comments.each do |comment| %>
			<li>
				<%= link_to comment['content'] , comment_path(comment) %> 
				<%= time_ago_in_words(comment['created_at']) %>
				<% user = User.select(:id,:name).where(id: comment['user_id']).first %>
				posted by <%= link_to user['name'] , user_path(user)%>
			</li>
		<% end %>
	</ul>
</div>