<% post_object = Post.find(params[:id]) %>
<h1>
	Comments on 
</h1>
<p> <%= post_object.content %>

<div class = "comments">
	<%= form_for(:comment,url: comment_path(comment)) do |f| %>
      	<%= f.hidden_field :id, :value => @group.id%>
      	<%= f.label :name %>
      	<%= f.text_area :content%>
      	<%= f.submit "Submit post", class: "btn btn-primary" %>
	<% end %>
</div>